
#view-port {
  display: flex;
  flex-flow: column;
  min-width: 1080px;
}

#scroll-port {
  scrollbar-width: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  height: 90vh;
}

#home { 
  background-color: rgb(131, 248, 242);
}

#about { 
  background-color: rgb(248, 240, 131);
}

html {
  font-family: sans-serif;
}

body {
  margin: 0px;
}

section {
  border-bottom: 1px solid white;
  height: 100%;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

h1  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: rgb(185, 49, 49);
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}

h2  {
  margin: 0px;
}